.manage-body {
    background-color: #fffcf1;
    min-height: 100vh !important;
    padding: 25px 50px;
}

.top-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.manage-back-btn {
    background-color: #fffcf1;
    border: 1px solid #a04e4e;
    color: #a04e4e;
    display: flex;
    margin: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.manage-back-btn:hover {
    background-color: #a04e4e;
    color: white;
}

.manage-add-btn {
    display: flex;
    background-color: #a04e4e;
    justify-content: center;
    align-items: center;
    border: 1px solid #8a4343 !important;
}

.manage-add-btn:hover,
.manage-add-btn:active {
    background-color: #8a4343 !important;
    border: 1px solid #8a4343 !important;
}

.manage-add-text {
    font-weight: bold;
    margin-left: 5px;
    color: white;
    margin-bottom: 0 !important;
}

.manage-back-text {
    margin-bottom: 0 !important;
    margin-left: 5px;
}

.manage-title {
    font-size: 2.5rem;
    font-weight: 800;
}

/* Search Bar */
.search-bar-container {
    position: relative;
    max-width: 500px;
}

.search-input {
    width: 100%;
    background-color: #a04e4e;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 8px 35px 8px 35px;
    font-weight: bold;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

/* Table Design */
.manage-table-card {
    margin-top: 10px;
    background-color: #fcebd9;
    border: 3.5px solid #a04e4e;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.manage-table th {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 1rem;
    border-bottom: 2px solid #000000;
}

.manage-table td {
    font-size: 1.4rem;
    padding: 0.8rem 0;
}

.first-column {
    width: 150px;
    text-align: center;
}
.second-column {
    width: 300px;
}
.thrid-column {
    width: 450px;
}
.forth-column {
    width: 200px;
    text-align: center;
}

.final-column {
    width: 200px;
    text-align: center;
}

.no-result {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 25px;
    border: 1px solid #a04e4e;
    color: white;
    background-color: #a04e4e;
    border-radius: 25px;
    padding: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Action Icons */
.action-icon-btn {
    border: none;
    width: 42px;
    height: 42px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.action-icon-btn:hover {
    transform: scale(1.08);
    border-radius: 50%;
}

.btn-key {
    background-color: #10b981; /* Green */
    border-radius: 5px;
    margin-right: 5px;
}

.btn-view {
    background-color: #a04e4e;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-pencil {
    background-color: #f59e0b; /* Yellow/Orange */
    border-radius: 5px;
    margin-right: 5px;
}

.btn-trash {
    background-color: #ef4444; /* Red */
    border-radius: 5px;
}

.btn-key:hover {
    background-color: #0ea573; /* Green */
    margin-right: 5px;
}

.btn-view:hover {
    background-color: #8a4343; /* Green */
    margin-right: 5px;
}

.btn-pencil:hover {
    background-color: #d2890a; /* Yellow/Orange */
    margin-right: 5px;
}

.btn-trash:hover {
    background-color: #d33c3c; /* Red */
}

.modal-form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.submit-btn {
    background-color: #a04e4e;
    color: white;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
}

.delete-form {
    text-align: center;
}

.delete-btn {
    background-color: red;
    color: white;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
}

/* Cafe Table */
.manage-table-v2 th {
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #000000;
}

.manage-table-v2 td {
    font-size: 1.2rem;
    padding: 0.5rem 0;
    height: 100px;
}

.column-1 {
    width: 60px;
    text-align: center;
}

.column-2 {
    width: 120px;
    text-align: center;
}

.column-3,
.column-4{
    width: 180px;
    max-width: 180px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column-5,
.column-6,
.column-7,
.column-8,
.column-10 {
    width: 180px;
    text-align: center;
}

.status-open{
    margin: auto;
    max-width: 100px;
    padding: 5px 0 5px 0;
    font-weight: bold;
    background-color: #10b981;
    color: white;
    border-radius: 25px;
}

.status-close{
    margin: auto;
    max-width: 100px;
    padding: 5px 0 5px 0;
    font-weight: bold;
    background-color: #ef4444;
    color: white;
    border-radius: 25px;
}

.column-9 {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
